* {
  font-family: "Raleway", sans-serif;
  list-style: none;
}
body {
  max-width: 1750px;
  margin: auto;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.prix {
  font-weight: bold;
}

/* HEADER DEBUT*/
.hautheader {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  width: 9em;
  height: 4em;
  padding-top: 1.5em;
}

.blocnav {
  display: flex;
}

.liensite {
  display: flex;
}

.inscrire {
  display: flex;
  padding: 2em;
  font-weight: 900;
}

.inscrire a:hover {
  border-top: 2px #0065fc solid;
  padding: 2em;
  color: #0065fc;
}

.navhead {
  padding: 2em;

  text-align: center;
  width: 50%;
}
.hautheader div:nth-child(2) {
  flex: 1;
  justify-content: flex-end;
}

.navhead a {
  color: black;
}
.navhead a:hover {
  border-top: 2px #0065fc solid;
  padding: 2em;
  color: #0065fc;
}

/*RECHERCHE HEBERGEMENT*/

h1 {
  font-size: 26px;
}

.formrecherche {
  border-radius: 15px;
  width: fit-content;
  white-space: nowrap;
}

.recherche .fas,
.inputrechercher,
.inputsubmit {
  height: 3em;
}
.inputrechercher {
  border: 1px #f2f2f2 solid;
  font-weight: 900;
  font-size: 1em;
  width: 12em;
  background-color: white;
}
.inputsubmit {
  background-color: #0065fc;
  border: none;
  font-family: "Raleway";
  font-weight: bold;
  color: white;
  height: 3.2em;
  width: 8em;
  font-size: 1em;
  border-radius: 0 15px 15px 0;
  position: relative;
  right: 5px;
}

.submiticon {
  background-color: #0065fc;
  border: none;
  font-family: "Raleway";
  color: white;
  height: 3em;
  font-size: 1em;
  border-radius: 15px 15px 15px 15px;
  width: 50px;
}
.fa-map-marker-alt {
  width: 3em;
  background-color: #f2f2f2;
  padding: 1em;
  width: fit-content;
  border-radius: 15px 0 0 15px;
  position: relative;
  left: 5px;
}

.filtreslist {
  display: flex;
  flex-wrap: wrap;
}

.filtres {
  font-weight: 900;
  margin-right: 3em;
  margin-top: 1.5em;
}

.button {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background-color: white;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 40px;
  font-size: 1em;
  font-weight: 900;
  border-left: none;
  padding-left: 0;
  padding-right: 1.5em;
  margin-right: 2vw;
  margin-top: 10px;
}

.btn_economiqueetfamilial {
  display: flex;
  flex-wrap: nowrap;
}

.btn .fas {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 35px;
  padding: 15px;
  margin-right: 0.5em;
  font-size: 20px;
}

.btn:hover {
  background-color: rgb(217, 217, 217);
}

.fa-info {
  color: #0065fc;
  border: 1px solid rgb(217, 217, 217);
  font-size: 11px;
  border-radius: 50%;
  padding: 8px 10px 8px 10px;
  height: 12px;
  margin-top: 10px;
  margin-right: 10px;
}

.info {
  display: flex;
}

/*HEBERGEMENT MARSEILLE*/

.blochebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.etoilebleu {
  color: #0065fc;
}

.etoilegris {
  color: #f2f2f2;
}

.hebergement {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;

  flex: 1;
}

.articlehebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articlehebergement img {
  width: 16vw;
  height: 10em;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.imghebergement {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(217, 217, 217);
  margin-left: 0;
  margin-right: 1em;
}

.imghebergement:hover {
  background-color: rgb(217, 217, 217);
}

.descriptionimghebergement {
  padding-left: 5px;
  line-height: 5px;
  font-size: 90%;
}

.afficher {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.afficherplus {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

/* -------------------------- PLUS POPULAIRE ------------------------------------------ */

aside {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
  width: fit-content;
}
.asidepopulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titrepopulaire {
  display: flex;
  justify-content: space-between;
}

.fa-chart-line {
  font-size: 1.6em;
  margin: 1em;
}

.asidepopulaire img {
  width: 10vw;
  height: 9em;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.imgpopulaire {
  display: flex;

  background-color: white;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgb(217, 217, 217);
}

.imgpopulaire:hover {
  background-color: rgb(217, 217, 217);
}

.descriptionimgpopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  font-size: 90%;
  height: 10em;
  margin-top: -1em;
}

/*-----------------------------------ACTIVITE---------------------------------------------*/
#Activites {
  margin-left: 1em;
}

.sectionactivite {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.doubleimage,
.grandeimage {
  margin: 1em;
}

.grandeimage {
  box-shadow: 0 0 10px rgb(217, 217, 217);
  border-radius: 15px;
}

.grandeimage:hover,
.pomegues:hover,
.frioul:hover,
.notredame:hover,
.longchamp:hover {
  background-color: rgb(217, 217, 217);
}

.doubleimage {
  display: flex;
  flex-direction: column;
}
.pomegues {
  box-shadow: 0 0 10px rgb(217, 217, 217);
  border-radius: 15px;
  margin-bottom: 65px;
}

.frioul {
  box-shadow: 0 0 10px rgb(217, 217, 217);
  border-radius: 15px;
}

.notredame {
  box-shadow: 0 0 10px rgb(217, 217, 217);
  border-radius: 15px;
  margin-bottom: 65px;
}

.longchamp {
  box-shadow: 0 0 10px rgb(217, 217, 217);
  border-radius: 15px;
}

.activite img {
  width: 21vw;
  border-radius: 15px 15px 0 0;
}

.imgpomegues {
  height: 200px;
  object-fit: cover;
}

.imgfrioul {
  height: 100px;
  object-fit: cover;
}

.imgnotredame {
  height: 139px;
  object-fit: cover;
}

.imglongchamp {
  height: 162px;
  object-fit: cover;
}

.imgport {
  height: 430px;
  object-fit: cover;
}

.imgcalanques {
  height: 430px;
  object-fit: cover;
}

.titreactivite {
  padding-left: 1em;
}

.activite h3 {
  font-size: 1em;
}

/* --------------------------------FOOTER---------------------------------------- */

footer {
  background-color: #f2f2f2;
}

.footernav {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 80vw;
  flex-wrap: wrap;
}

.footerapropos,
.footerhebergement,
.footerassistance {
  margin: 10px;
  margin-right: 20px;
}

footer li {
  margin-bottom: 10px;
  white-space: nowrap;
}

/* ----------------------- MEDIA QUERIES ------------------------ */

@media screen and (min-width: 1190px) {
  /*Header*/

  .submiticon {
    display: none;
  }
}

@media screen and (min-width: 950px) and (max-width: 1190px) {
  /*Header*/
  .submiticon {
    display: none;
  }

  /*Hebergement*/

  .hebergement {
    width: 100%;
  }

  .articlehebergement {
    justify-content: center;
  }

  .imghebergement {
    margin: 2em;
  }

  .articlehebergement img {
    width: 37vw;
    height: 10em;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  .hebergement {
    background-color: white;
  }

  /*Populaire*/

  .asidepopulaire img {
    width: 50%;
    height: 11em;
  }
  .asidepopulaire {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .descriptionimgpopulaire {
    padding-left: 10px;
    padding-right: 10px;
  }

  .imgpopulaire {
    margin-left: 10px;
    width: 90vw;
  }

  /*Activité*/

  #Activites {
    margin-left: 10px;
  }

  .activite img {
    width: 40vw;
  }
}

@media screen and (max-width: 950px) {
  /*Header*/

  .hautheader div:nth-child(2) {
    flex: 100%;
    order: 3;
    justify-content: center;
  }

  .hautheader {
    justify-content: space-between;
  }

  .liensite {
    border-bottom: 2px solid rgb(217, 217, 217);
    width: 100%;
  }

  .navhead:hover {
    border-bottom: 3px #0065fc solid;
    border-top: 0;
    color: #0065fc;
  }

  .navhead a:hover {
    border-top: 0 #0065fc solid;
    padding: 0;
  }

  .inputsubmit {
    display: none;
  }

  .submiticon {
    position: relative;
    right: 18px;
    height: 3.3em;
  }

  .btn {
    margin-bottom: 1em;
  }

  /*Hebergement*/

  .blochebergement {
    flex-wrap: wrap-reverse;
  }

  .hebergement {
    background-color: white;
    width: 100%;
  }

  .articlehebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .articlehebergement img {
    width: 86vw;
    height: 10em;
  }

  /*Populaire*/

  aside {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .titrepopulaire {
    margin-left: 10px;
  }

  .imgpopulaire {
    margin-left: 10px;
    width: 90vw;
  }

  .descriptionimgpopulaire {
    height: 11em;
  }

  .asidepopulaire img {
    width: 50%;
    height: 10em;
  }

  /* Activité */

  #Activites {
    margin-left: 10px;
  }

  .activite {
    justify-content: flex-start;
    margin-left: 7px;
  }

  .activite img {
    width: 88vw;
    height: 10em;
  }

  .grandeimage {
    margin-left: 10px;
  }

  .doubleimage {
    margin-left: 10px;
  }

  /*Footer*/

  footer {
    flex-direction: column;
  }
}
